
/**
	* @file genesis_SUBTHEME.css
	* This stylesheet provides the main styles for this theme.
	*/

/**
	* Remove unused styles for performace.
	*/

/***********************************************************
 *                          Body
 **********************************************************/
body {color: #FFFFFF; background: #000000;}

/***********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
	* Be careful how you modify these, see layout.css first.
	*/
#container    {background: #4294BD; }
#columns      {background: #666 url(images/bg_tile.png) left top repeat-x; }
#content      {margin-top: 1em;}
#main-content {padding-left: 1em;}


/***********************************************************
 *                     Width Setting
 **********************************************************/
/**
	* Over ride the default width (80em - see layout.css).
	* 80 * 12 = 960px
	*
	* Genesis supports both Fluid and Fixed width values.
	*
	* For a Liquid layout use precentages, e.g
	* .width {width: 85%;}
	*
	* For Fixed width theme, use ems or pixels, e.g
	* .width {width: 960px;}
	* .width {width: 80em;}
	*/
.width {width: 100%;}


/***********************************************************
 *                       Regions
 **********************************************************/
#leaderboard       {background: transparent;}
#header-blocks     {background: transparent;}

/*#sidebar-left      {}*/
#sidebar-right     {background: transparent; margin-top: 1em;}

#secondary-content {background: #000;}
#tertiary-content  {background: #000;}

#content-top       {background: transparent;}
#content-bottom    {background: transparent;}

#footer            {background: transparent;}


/***********************************************************
 *                   The INNER divs
 **********************************************************/
/**
	* In most instances you'll use these to set padding for 
	* the containing element.
	*
	* The default (see layout.css)
	* .inner {padding: 0.7em;}
	*
	* NOTE: You can over-ride the default .inner for nodes, blocks,
	* and comments using div.node-inner, div.block-inner & 
	* div.comment-inner which are listed in their relevant sections.
	*/
.inner         {padding: 0 0.375em;}
#content-inner {padding: 0 0.375em;}

.nav-inner {}
.primary-inner {}
.secondary-inner {}

.header-blocks-inner {}

#sidebar-left .inner  {}
#sidebar-right .inner {padding-left: 1em;}

#secondary-content .inner {}
#tertiary-content .inner  {}


/***********************************************************
 *                 Global Link Styles #D01F3C
 **********************************************************/
a:link,
a:visited {
  color: #63A3E4; 
		font-family: Georgia, "Times New Roman", Times, serif; 
		font-style: italic; 
		font-weight: bold;
		text-decoration: none;
}
a:hover,
a:active,
a.active,
li a.active  {text-decoration: none; color: #CC0000;}


/***********************************************************
 *                    HTML elements 
 **********************************************************/
/** 
	* Add any html elements you require. Use type.css as a guide.
	*/
h1#page-title {		
  font-family: Arial, Helvetica, sans-serif; 
		font-style: normal;
		color: #CC0000; 
		text-decoration:none;
		font-size: 2.5em;
}
h2   {}
h2 a {}
h3   {}
h3 a {}
p    {}
blockquote {}


/***********************************************************
 *                       Header 
 **********************************************************/
/**
	* Branding, Logo, Site name & Slogan.
	*/
#header        {background: #4294BD; height: 10em;}
#header .inner {}
#branding      {float: left; margin: 0 0 0 -0.375em; width: 550px;}
#logo {
		float: left;
		margin: 0;  
		/* use position aboslute to set the logo as a background image
		position:absolute;
  left:0;
  top:0; */
}

h1#site-name,
div#site-name  {
		font-family:georgia;
		font-size:4em;
		font-style:italic;
		font-weight:900;
		line-height:1.5;
		margin: 0.1875em 0 0 0.5em;
		padding:0;
		z-index: 2;
		position: relative;
}

#site-name a:link,
#site-name a:visited {text-decoration: none; color: #63A3E4;}
#site-name a:hover   {text-decoration: none; color: #63A3E4;}

#site-slogan   {font-size: 2em; color: #A7D1EB; margin: 0 0 0 1em;}


/***********************************************************
 *                        Search
 **********************************************************/
#search .form-submit  {}
#search-box-top       {float: right; margin-top: 1.3em; margin-right: 0.375em;}
#search-box-inner     {padding: 1.5em 0;}
#search-box-inner #edit-search-theme-form-1 {width: 200px; background: #A7D1EB; border: 3px solid #63A3E4; font-size: 1.25em;}
#search-box-inner #edit-search-theme-form-1:hover,
#search-box-inner #edit-search-theme-form-1:focus {background: #fff; border: 3px solid #A7D1EB;}
#search-box-top label {
		color:#A7D1EB;
		font-family:georgia;
		font-size:1.4em;
		font-style:italic;
}

/* Reset form element margins to allow more precise positioning */
#search-box-top form,
#search-box-top div.form-item {margin: 0;} 

/* Search Results Page - see .box */
.section-search #search-form {}
.section-search #search-form {}


/***********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
	* Implimentation of Primary and Secondary Links.
	*/

/**
	* #nav is the containing div for Prmiary & Secondary Links.
	*/
#nav       {
  clear: both; 
		margin: 0;
}

#nav-inner {}

/**
	* Primary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the primary links Right or Center.
	*/
/* Align Right */
/**/
#primary .primary-inner {float: right;}

/* Align Center */
/*
#primary .primary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Primary Links Style
	* Example styles to get you started.
	*/
#primary {
	 padding: 0;
	 background: #4294BD;
}

.primary-inner {}

#primary ul.links {
  margin: 0;
}

#primary ul.links li {
  float: left;
  font: bold 1.3em Georgia, "Times New Roman", Times, serif; 
  margin: 0 1px 0 0;
  padding: 0 15px 0 0;
		background: url(images/prim_tab_right.png) no-repeat right top;
}

/* First & Last classes can be styled seperately. */
#primary ul.links li.first {}
#primary ul.links li.last {}

#primary ul.links li a {
  float:left;
  display:block;
  text-decoration: none;
  color: #458A00;
  background: transparent;
  padding: 15px 18px 10px 23px;
		background: url(images/prim_tab_left.png) no-repeat left top;
}

#primary ul.links li:active,
#primary ul.links li.active,
#primary ul.links li:hover {
  background: url(images/prim_tab_right.png) no-repeat right top;
}
#primary ul.links li a:active,
#primary ul.links li a.active,
#primary ul.links li a:hover {
  padding: 15px 18px 10px 23px;
  background: url(images/prim_tab_left.png) no-repeat left top;
		color: #222;
}


/**
	* Secondary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the secondary links Right or Center.
	*/
/* Align Right */
/*
#secondary .secondary-inner {float: right;}
*/
/* Align Center */
/*
#secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Secondary Links Style
	*/
#secondary {
  height: 2.25em;
	 padding: 0;
	 background: #000;
		padding-bottom: 0.375em;
}

.secondary-inner {}

#secondary ul.links,
#secondary ul.links li {
  margin: 0; 
	 padding: 0;
		font-size: 1.1em;
}

/* First & Last classes can be styled seperately. */
#secondary ul.links li.first {}
#secondary ul.links li.last {}

#secondary ul.links li a:link,
#secondary ul.links li a:visited,
#secondary ul.links li a:active {
	 font-weight: bold;
	 text-decoration: none;
  padding: 0.375em 0.75em;
	 display: inline-block;
	 white-space: nowrap;
		color: #63A3E4;
	 font-family: Arial, Helvetica, sans-serif;
		font-style: normal;
}

#secondary ul.links li a:hover {
  text-decoration: none; color: #CC0000;
}


/***********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
	* Genesis places the breadcrumb directly below the header, 
	* giving it the full width of theme to expand in to.
	*/
#breadcrumb {
  margin: 0;
		background: #000;
}

#breadcrumb.bc-med-sec {
		padding: 0 0 1em 0;
}

#breadcrumb.bc-ingen-sec {
		padding: 1em 0;
}


.breadcrumb {
  margin: 0; padding: 0.1875em 0 0.1875em 1em;
		border-top: 1px dotted #585858;
		border-bottom: 1px dotted #585858;
}

.breadcrumb a {
  color: #6E6E6E;
		font-size: 0.95em;
}
.breadcrumb,
.breadcrumb a:hover {
  color: #C1C1C1;
		font-size: 0.95em;
}


/***********************************************************
 *                       Mission
 **********************************************************/
#mission {
  margin: 0 0 1.5em 0;
		padding: 10px;
		font-weight: bold;
		font-size: 1.5em;
		background: white;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}

#mission-inner {
  padding: 10px;
		color: #4294BD;
		background: #A7D1EB;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}


/***********************************************************
 *                        Nodes
 **********************************************************/
/** 
	* Implimentation of node styles. 
	*/
.node {margin: 0 0 1.5em; font-size: 1.5em;}

/* Over-ride default .inner styles. */
.node-inner {}

.node h2.node-title a {
		font-family: Arial, Helvetica, sans-serif; 
		font-style: normal;
		color: #CC0000; 
		text-decoration:none; 
}
.node h2.node-title a:hover {color: #FFF; background: #CC0000; text-decoration:none;}

.node h2 a:link,
.node h2 a:visited,
.node h2 a:active {
  text-decoration: none;
}

.node h2 a:hover {
  text-decoration: underline;
}

.node div.picture {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
}

.node div.submitted {
  color: #888;
	 margin: 0;	
}

/* Node content wrapper. */
.node .node-content {}

.node ul.links {
  display: block; 
	 text-align: right;
}

/* Theme node full view seperately */
.node-full-view #main-content h1 {}


/* Theme the node teaser seperatly. */
.node-teaser {}
.node-teaser .node-inner {}

.node-teaser .node-content {margin-bottom: -1em;}

/* Theme Sticky nodes. */
.sticky {}

/* Theme node types. */
.node-type-blog  {}
.node-type-page  {}
.node-type-forum {}
.node-type-book  {} 

.node-type-poll .node-content {clear: both;} 
 
/* Theme nodes that belong to the author. */
.node-mine {}

/**
 * Node edit/preview
 */
.node-form {padding: 0 0 0 0.75em;}
.preview .node {background-color: transparent;}
.preview h3 {
  font-size: 1.3em;
		color: #FF0099;
		background: #FFCAF2;
		padding: 0.375em;
		border: 3px solid #FF0099;
		-moz-border-radius: 3px;
		-webkiet-border-radius: 3px;
}

/* Form elememnts in nodes. e.g Polls */
.node label {color: white!important;}


/***********************************************************
 *                       Blocks
 **********************************************************/
/** 
	* Implimentation of block styles.
	* Styles set here will be inherited by all blocks.
	*/
.block {
  padding: 0;
  margin: 0 0 1.5em;
  clear: both;
}

/* Over-ride default .inner styles. */
.block-inner {}

.block h2.block-title {color: #A7D1EB;}

/* Block content wrapper. */
.block .block-content {
  padding: 0;
}

.block ul {}
.block ul li {color: #4F4F4F; font-size: 1.1em; list-style: none; list-style-image: none;}
.block ul.menu {padding: 0; margin: 0;}
.block ul.menu li {}

.block .item-list ul {padding: 0; margin: 0;}

tr .block {
  border: none; /* Blocks page table. */
}

/**
	* Style an Individual Block
	*
	* If you need to modify the styles for a particular block, 
	* use the blocks ID, for example;
	* 
	* #block-block-1 {}
	*/

/**
	* Region Specific Block Styles
	*
	* You can target blocks in one or more regions and 
	* style them differently. 
	*
	* Use the first two examples as guide for all regions. 
	*/
#sidebar-left .block {}
#sidebar-left .block h2 {}
#sidebar-left .block-inner {}
#sidebar-left .block .block-content {}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {}
#sidebar-right .block .block-content {}

#leaderboard .block       {}
#header-blocks .block     {}
#secondary-content .block {}
#tertiary-content .block  {}
#content-top .block       {}
#content-bottom .block    {}
#footer .block            {}

/**
	* Block Odd & Even Styles (Zebra)
	* Each region can have alternating styles for Odd and Even 
	* count blocks, such as;
	*/
#sidebar-left .odd   {}
#sidebar-left .even  {}

#sidebar-right .odd  {}
#sidebar-right .even {}

/**
	* Alternative Approach to Region Block Styling
	*
	* Blocks are aware of what region they are in, so its
	* possible to use chained selectors such as;
	*
	* .block.odd.right {}
	*/

/**
	* Drupal Core Blocks 
	* This is most of the core blocks as far as I can remember, 
	* please post an issue if I have missed any :)
	*/
#block-system-0  {} /* Powered by Drupal block */

#block-user-1    {} /* Navigation Menu block   */
#block-user-2    {} /* Who's New block         */
#block-user-3    {} /* Who's Online block      */

#block-comment-0 {} /* Recent Comments block   */

#block-search-0  {} /* Search form block       */

#block-forum-0   {} /* Active Forum topics     */
#block-forum-1   {} /* New Forum topics        */

#block-blog-0    {} /* Recent Blog posts       */

#block-node-0    {} /* Syndicate block         */

#block-locale-0  {} /* Language Switcher block */

/**
 * User Login Block
 * Customising the user login is common, here are 
	* the selectors for stying it.
 */ 
#block-user-0 {}

#block-user-0 form {text-align: left;}
#block-user-0 .form-item {}

#block-user-0 label {}
#block-user-0 label span.form-required {color: red;}

#block-user-0 input {}
#block-user-0 input.required     {}

#block-user-0 #edit-name-wrapper {}
#block-user-0 #edit-pass-wrapper {}

#block-user-0 #edit-name-wrapper input,
#block-user-0 #edit-pass-wrapper input {width: 200px; border: 3px solid #7A7A7A; color: red; background: url(images/input_tile_bg.png);}

#block-user-0 #edit-name-wrapper input:hover,
#block-user-0 #edit-name-wrapper input:focus,
#block-user-0 #edit-pass-wrapper input:hover,
#block-user-0 #edit-pass-wrapper input:focus {background: #fff; border: 3px solid #A7D1EB;}

#block-user-0 .item-list ul {}
#block-user-0 .item-list ul li   {}
#block-user-0 .item-list ul li a {}
#block-user-0 .item-list ul li.first {}
#block-user-0 .item-list ul li.last  {}

/* The class selector applies to all blocks of these types */
.block-book {} 
.block-aggregator {}


/***********************************************************
 *                     Comments
 **********************************************************/
/** 
	* Implimentation of comment styles.
	*/
/* Comment wrapper */
#comments {margin: 0 0 0 0.75em;}	

div.comment {
  margin: 0 0 0.375em 0;
	 padding: 0.375em; 
}

/* Over-ride default .inner styles. */
div.comment-inner {}

div.indented {
  margin-left: 2em; /* RTL */
}

div.comment h3.comment-title {
	 margin-bottom: 0;
}

h3#comment-number {
  margin-top: 1.5em;
}

div.comment h3.comment-title a:link,
div.comment h3.comment-title a:visited,
div.comment h3.comment-title a:active {
  text-decoration: none;
}

div.comment h3.comment-title a:hover {
  text-decoration: underline;
		color: #FFF;
}

div.comment .picture {
  float: right; /* RTL */
	 margin: 0.3em 0 0.1em 0.3em; /* RTL */
}

div.comment .picture img {
	padding: 0;
}

div.comment .submitted {
	 margin: 0;
}

/* Comment content wrapper. */
div.comment .comment-content {}

div.comment .links {
	 text-align: right; 
	 clear: both;
}

/* Zebra styles for comments. */
div.comment.odd  {}
div.comment.even {}

/* Style comments depending on the comment author. */
div.comment.comment-by-author {}
div.comment.comment-by-anon   {}
div.comment.comment-mine      {}


/***********************************************************
 *                     Forum
 **********************************************************/
#forum table {}
#forum tr td.forum {}
#forum div.indent  {}


/***********************************************************
 *                     Books
 **********************************************************/
/** 
	* Book navigation styles to get you started.
	*/
.book-navigation {}
.book-navigation ul {}
.book-navigation ul li {}
.book-navigation ul li a {}
.book-navigation .page-links {}
.book-navigation .page-links a {}
.book-navigation .page-links a.page-up {}
.book-navigation .page-links a.page-next {}
.book-navigation .page-links a.page-previous {}


/***********************************************************
 *                    Polls
 **********************************************************/
.poll .text {}
.poll .bar {} /*poll bar background */
.poll .bar .foreground {
  background: url(images/poll_tile.png) left center repeat-x;
}
.poll .links   {}
.poll .percent {}
.poll .total   {}
.poll .vote-form {}


/***********************************************************
 *                      Box
 **********************************************************/
/* Search form on the results page, includes advanced search*/
.section-search .box {}
.section-search .box-inner {}
.section-search .box h2.box-title    {}

/* Comment form on a seperate page */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box h2.box-title    {}

/* Comment form below content */
#comments .box {}
#comments .box-inner {}
#comments .box h2.box-title    {}

/* Generic box selectors */
.box {}
.box-inner {}
.box h2.box-title {}
.box .box-content {}
.box form         {}
.box .form-item   {}
.box fieldset     {}


/***********************************************************
 *               Footer, Footer Message
 **********************************************************/
/** 
	* Basic styles for the footer.
	*/
#foot-wrapper { 
  text-align: center;
	 margin: 0;
	 padding: 1em;
		background: black;
}

#footer a, 
#footer-message a {
  padding: 0.375em;
}

/**
	* Attribution link 
	*/
p.attribution {margin: 0.2em 0; font-size: 0.9em;}
#footer-message p.attribution a {color: #EEE}
#footer-message p.attribution a:hover {color: #CCC}


/***********************************************************
 *                     Pager #D01F3C
 **********************************************************/
.item-list ul.pager  {
  height:3em;
}
.item-list ul.pager li {
 color: #585858;
	background: #ccc; 
	border: 3px solid #585858; 
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	padding: 0.25em 0.5em;
}
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  { 
 color: #D5D5D5;
	background: #5D5D5D; 
}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}

.item-list ul.pager li a:link,
.item-list ul.pager li a:visited {
	font: 1em normal Arial, Helvetica, sans-serif;
 text-decoration: none;
	color: #585858;
}
.item-list ul.pager li a:hover { 
 text-decoration: underline;
	color: #222;
}


/***********************************************************
 *                 RSS Feed Icon
 **********************************************************/
#feed-icon     {padding: 0 0 1em 0.75em;}
#feed-icon img {}
#feed-icon a.feed-icon {}


/***********************************************************
 *                    Tables
 **********************************************************/
/** 
	* The selector groupings are from Garland which offers a
	* sensible starting point for styling Drupal tables.
	*/
/*table        {}

table a      {}

thead th     {}

th a:link, 
th a:visited {}

td, th       {}

tr.even,
tr.odd,
tbody th     {}

tr.odd, 
tr.info      {}

tr.even      {}

tr.drag      {}

tr.drag-previous {}

tr.odd td.active  {}

tr.even td.active {}

td.region, td.module, td.container td.category {}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {}

table.system-status-report th {}*/
table        {}
table a      {color: #6F9DBD;}
thead th     {border-bottom: 2px solid #004080; color: #494949; color: #CCC;}
th a:link, 
th a:visited {color: #6F9DBD;}
td, th       {}
tr.even,
tr.odd,
tbody th     {border: solid #004080; border-width: 1px 0;}
tr.odd, 
tr.info      {background-color: #333;}
tr.even      {background-color: #000;}
tr.drag          {background-color: #fffff0;}
tr.drag-previous {background-color: #F3DFF8;}
tr.odd td.active  {background-color: #555;}
tr.even td.active {background-color: #444;}
td.region, td.module, td.container td.category {
  border-top: 1.5em solid #444;
  border-bottom: 1px solid #004080;
  background-color: #333;
  color: #FFF;
}
tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {}

table.system-status-report th {
  border-bottom:1px solid #004080;
}


/***********************************************************
 *                   Form elements
 **********************************************************/
/**
	* Theming form elements can be an exercise in self-flagellation.
	* Lets let base.css & Drupal do the hard work and just set very 
	* basic over-rides.
	*/
fieldset {border: none;}
 
fieldset legend {font-weight: bold; font-size: 1.5em; color: yellow;}
label  {}

html.js fieldset.collapsible legend a {
  color: #00FF00;  
		background: url(images/arrow_down.png) no-repeat 0% 50%; /* LTR */
		font-size: 0.75em;
}
html.js fieldset.collapsed legend a   {
  color: #00FF00;
  background: url(images/arrow_right.png) no-repeat 0% 50%; /* LTR */
		font-size: 0.75em;
}

.tips {}

span.form-required {color: red;}

input,
input.form-text, textarea {
  -moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}

.resizable-textarea .grippie {
  -moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		background-color: #F7F7F7;
}

/*system.css?s (line 357)*/
html.js .resizable-textarea textarea {
  background: white!important;
}


/***********************************************************
 *                    Messages
 **********************************************************/
/**
	* Override Drupal + messages.css to support the dark theme.
	*/
div.messages,
div.help {
  -moz-border-radius: 3px;
		-webkit-border-radius: 3px;	
}

div.messages         {font-weight: bold; margin-bottom: 1.5em; padding: 0.75em;}
div.messages.success {color: #55872E; background: #F1F8EB; border: 3px solid #7AC142;}
div.messages ul      {margin: 0 0 0 2em;}

div.status {color: #264409; background: #E6EFC2; border: 3px solid #C6D880;}
div.error  {color: #8A1F11; background: #FFCCCC; border: 3px solid #DD7777;}
div.notice {color: #514721; background: #FFF6BF; border: 3px solid #FFD324;}

.error, .notice, .status {margin-bottom: 1em; padding: 0.75em;}

div.error a    {color: #8a1f11; text-decoration: underline;}
div.notice a   {color: #514721; text-decoration: underline;}
div.success a  {color: #264409; text-decoration: underline;}

div.help {background: #FFC;margin-bottom: 1.5em;padding: 0.75em; border: 3px solid #FEDE01; color: #222;}
div.help em {font-weight: bold;}

.ok {}
div.ok {}

div.ok, tr.ok {color: #EEE; padding: 2px;}

.system-status-report div.error, 
.system-status-report tr.error {color: yellow;}

div.warning, tr.warning {color: #FF8000;padding:2px;}

.form-item .description {color: #ACACAC}
.form-item label {color: #FFF}


/***********************************************************
 *                     Admin
 **********************************************************/
/**
	* <body> class to target most admin pages.
	*/
.section-admin {}

/**
	* Module page specific styles.
	*/
/* Module page specific styles */
div.admin-dependencies, div.admin-required {
  color:#CCC;
}

span.admin-enabled {
  color: #00FF00;
}

span.admin-disabled {
  color: #FF0000;
}

/**
	* The region notices on the block admin page.
	*/
.block-region {}

#secondary-content .block-region,
#tertiary-content  .block-region {
  background: #000;
		margin: 0 0 0 0;
}

.page-admin-build-block #secondary-content,
.page-admin-build-block #tertiary-content {padding: 4px 0;}

/* Experimental workaround for the theme list page for narrow themes.
   When both sidebars are active, the left sidebar overlaps the theme list table,
			this forces the sidebars to be a set hight with scroll */
body.page-admin-build-themes #sidebar-left,
body.page-admin-build-themes #sidebar-right,
body.page-admin-build-themes-select #sidebar-left,
body.page-admin-build-themes-select #sidebar-right {
  height: 240px; overflow: scroll;
}


div.admin-panel h3 {
  font-size: 1.3em;
		color: #FF0099;
		background: #FFCAF2;
		padding: 0.375em;
		border: 3px solid #FF0099;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}

div.admin-panel .body {
  border-left: 3px solid #FF0099;
		border-right: 3px solid #FF0099;
		border-bottom: 3px solid #FF0099;
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		margin: 0 0.375em 1em;
		padding: 0.5em;
		background: #FFF;
		color: #222;
}

div.admin-panel .body p.description {font-weight: bold;}

.form-item strong.error {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
}


/***********************************************************
 *                   Buttons
 **********************************************************/
button, 
.pushbutton, 
.form-submit {
		border: 3px solid #63A3E4; 
		font-size: 1.3em; 
		font-weight: bold; 
		color: #63A3E4; 
		background: #A7D1EB;
}

button:hover, 
.pushbutton:hover, 
.form-submit:hover {
		border: 3px solid #A7D1EB; 
		font-size: 1.3em; 
		font-weight: bold; 
		color: #63A3E4; 
		background: #E6F1F9;
}

/***********************************************************
*                       Lists
**********************************************************/
/* brutally reinstate nexted indentation for lists */
ul ul, 
ul ol, 
ol ol, 
ol ul, 
.block ul ul, 
.block ul ol, 
.block ol ol, 
.block ol ul, 
.block ul.menu ul,
.item-list ul ul, 
.item-list ul ol, 
.item-list ol ol, 
.item-list ol ul {
  margin:0 0 0 1.5em;
}


/***********************************************************
*                 Help out contrib modules
**********************************************************/
#admin-menu ul a:link,
#admin-menu ul a:visited {
  color: #FFF; 
		font-family: Geneva, Arial, Helvetica, sans-serif; 
		font-style: normal; 
		font-weight: normal;
		text-decoration: none;
}

.views-edit-view,
.views-edit-view form,
.views-edit-view label,
table.views-entry {color: #222;}

div.views-query-info {color: white;}

.views-edit-view h2 {color: yellow;}

#views-ui-edit-view-form {margin-bottom: 10px;}

form#views-ui-preview-form, 
#center form#views-ui-preview-form {
  border:1px solid #D6DBDE;
  background: white;
		margin-bottom: 2em;
}

table.views-entry {margin-top: 10px;}

/***********************************************************
*                  Typo #1 Tabs Overrides
**********************************************************/
/**
 * RTL supported stylised tabs for local tasks.
 */
div.tabs   {margin: 0 0 5px 0;}
ul.primary {
  margin: 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: transparent;
}
ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
ul.primary li a {
		background: #FFFFFF;
		color: green;
		display: block;
		font-weight: bold;
		height: 24px;
		margin: 0 3px;
  padding:0 0 3px 4px;
		text-decoration:none;
}
ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: transparent;
}
ul.primary li a:hover {
  background: green;
		color: white;
}
ul.primary li a:hover .tab {
  background: green;
		color: white;
}
ul.primary li.active a,
ul.primary li.active a:hover {
  background: green;
		color: white;
}
ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: green;
		color: white;
}
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: none;
  list-style: none;
  white-space: nowrap;
  background: transparent;
}
ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0; /* LTR */
  padding: 5px 0;
  border-right: none; /* LTR */
}
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #777;
  text-decoration: none;
  color: #777;
  background: transparent;
}
ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}
ul.secondary a:hover {
  background: transparent;
		color: #C0C0C0;
}
ul.secondary a.active,
ul.secondary a.active:hover {
  color: #C0C0C0;
  background: transparent;
}